[Desktop Entry]
Encoding=UTF-8
Name=CCCC
Comment=CCCC P2P Cryptocurrency
Comment[fr]=CCCC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CCCC, eşten eşe kriptografik sanal para birimi
Exec=pivx-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
